@model practica3.Models.LIBRO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LIBRO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TITULO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TITULO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AUTOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AUTOR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDEditorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDEditorial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Año)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Año)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRECIO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRECIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMENTARIOS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMENTARIOS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FOTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FOTO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDLibro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
